<?xml version="1.0" encoding="utf-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.intus.notificaciones"
    version   = "1.0.0">

<name>Notificaciones</name>

<plugin name="Camera" value="org.apache.cordova.CameraLauncher" />
<plugin name="Geolocation" value="org.apache.cordova.GeoBroker" />
<plugin name="Storage" value="org.apache.cordova.Storage" />
<plugin name="Capture" value="org.apache.cordova.Capture"/>


<preference name="phonegap-version" value="2.9.0" />

<gap:plugin name="com.phonegap.plugins.pushplugin" />

<!--<preference name="permissions" value="android.permission.WRITE_EXTERNAL_STORAGE" />-->

<feature name="http://api.phonegap.com/1.0/camera"/>
<feature name="http://api.phonegap.com/1.0/file"/>
<feature name="http://api.phonegap.com/1.0/storage"/>
<feature name="http://api.phonegap.com/1.0/geolocation"/>
<feature name="http://api.phonegap.com/1.0/capture"/>

<description>
Aplicación para notificaciones.
</description>

<author href="http://raxtel.com" email="ftoloza@intus.cl">
Domy - INTUS
</author>

</widget>
